.idea
.vscode
__pycache__
*/__pycache__
front_end/node_modules

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# virtualenvironment
venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*/migrations